@charset "UTF-8";
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  font-size: 16px;
  color: #333;
  background: #f5f5f5;
}

* {
  box-sizing: border-box;
}

 ::-moz-selection {
  background: #077915;
  color: #fff;
}

 ::selection {
  background: #077915;
  color: #fff;
}

 ::-moz-selection {
  background: #077915;
  color: #fff;
  text-shadow: none;
}

div.stepper-input > input[type="number"] {
 -moz-appearance: textfield;
  margin: 0;
}

div.stepper-input > input[type="number"]::-webkit-inner-spin-button,
div.stepper-input > input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
}

button {
  height: 36px;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  background: #077915;
  border: 0;
  font-weight: 400;
  padding: 0 16px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

button:hover {
  background: #0aa91d;
}

button:focus {
  outline: none;
}

button:active {
  background: #0bc122;
}

input,
select {
  font-size: inherit;
  font-family: inherit;
}

form {
  margin: 0;
}

header {
  background: #fff;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.033);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-animation: slideUp 300ms linear;
  animation: slideUp 300ms linear;
}

header .container {
  display: flex;
  display: -webkit-flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 32px;
}

 .my-cart-icon{
	color: green;
    z-index: 99;
    position: relative;
  }
 .badge-notify{
	background: red;
    position: relative;
    top: -40px;
    right: -19px;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    font-size: 12px;
    font-weight: bolder;
    color: white;
    display: table-cell;
    vertical-align: middle;
}
.cartprice {
    color: #4d4d4d;
    font-weight: bolder;
    position: absolute;
    /* top: 22px; */
    /* left: 0px; */
}
#itemsTotalAmount{
	color: red;
	font-weight:bolder;
	font-size:15px;
}

.basket-content {
    font-weight: bold;
    display: inline-block;
    font-family: ProximaNovaA-Semibold;
    font-size: 13px;
    color: #4d4d4d;
    font-stretch: 100%;
    font-style: normal;
    position: relative;
    top: -5px;
    left: 0px;
}

.bigfont {
	font-size:44px;
	font-style: italic;
}	

@media (max-width: 991px) {
  header {
    padding: 16px;
  }
  header .container {
    padding: 0;
  }
}

@media (max-width: 480px) {
  header {
    padding: 8px 12px;
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.brand .logo {
  width: 123px;
}

@media (max-width: 480px) {
  .brand .logo {
    width: 102px;
    margin: 2px 0;
  }
}

.greenLogo {
  color: green;
  font-weight: bold;
  font-size: 22px;
  height: 56px;
}

.greenLogo .redLogo {
  color: orange;
}

.greenLogo img {
  height: 60px;
  position: absolute;
  top: 15px;
}

.search {
  flex-grow: 1;
  -webkit-flex-grow: 1;
	margin: 0% 0% 0% 11%;
    flex-basis: calc(25% +40px);
}

@media (max-width: 767px) {
  .search {
 margin: 0% 0% 0% 11%;
 flex-basis: calc(25% +40px);
  }
}

@media (max-width: 480px) {
  .search {
    flex-grow: initial;
    -webkit-flex-grow: initial;
   margin: 0% 0% 0% 11%;
    flex-basis: calc(25% +40px);
  }
}

.mycart {
margin: 0% 9% 0% 0%;
}

@media (max-width: 767px) {
  .mycart {
 margin: 0% 9% 0% 0%;

  }
}

@media (max-width: 480px) {
  .mycart {
 margin: 0% 9% 0% 0%;
  }
}

.search-form {
  display: flex;
  display: -webkit-flex;
}

@media (max-width: 480px) {
  .search-form {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    background: #fff;
    z-index: 100;
  }
  .search-form.active {
    display: flex;
    display: -webkit-flex;
  }
}

.search-form .search-keyword {
  height: 36px;
  border: 1px solid #077915;
  padding: 0 16px;
  border-radius: 2px 0 0 2px;
  width: 100%;
  max-width: 330px;
}

.search-form .search-keyword:focus {
  outline: none;
}

@media (max-width: 480px) {
  .search-form .search-keyword {
    height: 32px;
    margin: 2px 0;
  }
}

.search-form .search-button {
  border-radius: 0 2px 2px 0;
  background: #077915 url(search.png) center no-repeat !important;
  width: 96px;
}

@media (max-width: 480px) {
  .search-form .search-button {
    height: 32px;
    margin: 2px 0;
  }
}

@media (min-width: 481px) {
  .mobile-search,
  .back-button {
    display: none;
  }
}

@media (max-width: 480px) {
  .mobile-search {
    display: block;
    height: 36px;
    width: 36px;
  }
  .back-button {
    display: block;
    margin-right: 8px;
  }
}

.cart {
  display: flex;
  display: -webkit-flex;
  margin-left: 35px;
  position: relative;
  z-index: 99;
}

.cart .cart-header-navlink {
  margin-top: 0px;
  margin-right: 10px;
  color: green;
  cursor: pointer;
}

.cart .cart-header-navlink:hover {
  color: #18d218;
}

.cart .cart-header-navlink.blinkingText {
  position: fixed;
  top: -0px;
  right: 223px;
  background: #2165e0;
  color: #fff;
  padding: 0px 10px;
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
  text-decoration: underline;
  cursor: pointer;
}

.cart-info table {
  font-size: 14px;
  color: #077915;
  text-align: right;
 }
 .cart-info table tr {
    padding: 0;
    margin: 0;
}
.cart-info table td {
    padding: 0 4px;
    line-height: 16px; 
}
  

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}


.cart-icon {
  margin-left: 16px;
  z-index: 99;
  position: relative;
}

@media (min-width: 992px) {
  .cart-count {
    display: none;
  }
}

@media (max-width: 991px) {
  .cart-count {
    display: block;
    position: absolute;
    background: #fc7710;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    width: 24px;
    border-radius: 50%;
    top: -6px;
    right: -9px;
  }
}

.cart-preview {
  display: none;
  background: #fff;
  border: 1px solid #ccc;
}

.cart-preview:before {
  content: "";
  position: absolute;
  display: block;
  top: -9px;
  right: 8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ccc;
  z-index: 1;
}

.cart-preview:after {
  content: "";
  position: absolute;
  display: block;
  top: -7px;
  right: 9px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  z-index: 1;
}

.cart-preview.active {
  z-index: 99;
  display: block;
  position: absolute;
  top: 48px;
  right: 0;
  width: 360px;
  height: 388px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media (max-width: 400px) {
  .cart-preview.active {
    top: 45px;
    width: 100%;
    min-width: 300px;
  }
  .cart-preview.active>div {
    width: 100% !important;
  }
  .cart-preview.active .cart-items {
    width: 100%;
  }
  .cart-preview.active .stepper-input a {
    display: none;
  }
}

.action-block {
  background: #fff;
  position: absolute;
  bottom: 0;
  padding: 16px;
  width: 100%;
}

.action-block button {
  background: #fc7710;
  display: block;
  width: 100%;
}

.action-block button.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.empty-cart {
  text-align: center;
}

.empty-cart img {
  width: 100%;
  max-width: 250px;
  margin: 42px auto 16px auto;
}

.empty-cart h2 {
  color: #999;
  font-size: 18px;
}

.cart-items {
  height: 320px;
  width: 360px;
}

.cart-item {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  padding: 8px;
}

.cart-item .product-image {
  width: 48px;
  height: 48px;
}

.cart-item .product-info {
  margin-left: 16px;
  flex-grow: 1;
}

.cart-item .product-info .product-name {
  color: #999;
  font-size: 14px;
}

.cart-item .product-info .product-price {
  color: #999;
  font-weight: 700;
}

.cart-item .product-info .product-price:before {
  content: "₹ ";
}

.cart-item .product-total {
  margin-left: 16px;
}

.cart-item .product-total .quantity {
  color: #999;
  font-size: 14px;
  text-align: right;
}

.cart-item .product-total .amount {
  color: #333;
  font-weight: 700;
  text-align: right;
}

.cart-item .product-total .amount:before {
  content: "₹ ";
}

.cart-item .product-remove {
  margin-left: 24px;
  height: 24px;
  line-height: 24px;
  width: 24px;
  font-size: 22px;
  color: #ccc;
  text-align: center;
}

.cart-item .product-remove:hover {
  color: #e23d3d;
}

.cart-item:hover {
  background: rgba(147, 220, 156, 0.15);
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.8, 0.66, 0.66) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.8, 0.66, 0.66) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.8, 0.66, 0.66) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.8, 0.66, 0.66) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.products-wrapper {
  padding-top: 136px;
  -webkit-animation: slideUp 300ms linear;
  animation: slideUp 300ms linear;
  -webkit-animation-delay: 150ms;
  animation-delay: 150ms;
}

@media (max-width: 991px) {
  .products-wrapper {
    padding-top: 68px;
  }
}

@media (max-width: 480px) {
  .products-wrapper {
    padding-top: 52px;
  }
}

.products {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding: 16px;
  max-width: 960px;
  margin: 0 auto;
}

.panel-heading{
	background-image: none;
    background: rgba(7, 121, 21, 0.8);
    color: white;
	padding: 0% 0% 0% 5%;
	font-weight: bold;
	font-size: x-large;
}

@media (max-width: 768px) {
  .products {
    padding: 8px;
  }
}

.products{
  border-collapse: collapse;
}

.products td {
  padding: 10px;
  text-align: center;
}

.products .product {
  min-height: 355px;
  flex-basis: calc(25% - 32px);
  -webkit-flex-basis: calc(25% - 32px);
}

@media (max-width: 768px) {
  .products .product {
    flex-basis: calc(33% - 16px);
    -webkit-flex-basis: calc(33% - 16px);
    margin: 8px;
  }
}

@media (max-width: 480px) {
  .products .product {
    flex-basis: calc(50% - 16px);
    -webkit-flex-basis: calc(50% - 16px);
    min-height: 313px;
  }
  .products .product .product-name {
    height: 20px;
    overflow: hidden;
  }
  .products .product .product-action {
    padding: 16px 8px;
  }
}

@media (max-width: 320px) {
  .products .product {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }
}

.fadeIn-enter {
  opacity: 0.01;
}

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadeIn-leave {
  opacity: 1;
}

.fadeIn-leave.fadeIn-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.product:nth-child(1) {
  transition-delay: 200ms;
}

.product:nth-child(2) {
  transition-delay: 200ms;
}

.product:nth-child(3) {
  transition-delay: 400ms;
}

.product:nth-child(4) {
  transition-delay: 600ms;
}

.product:nth-child(5) {
  transition-delay: 800ms;
}

.product:nth-child(6) {
  transition-delay: 1000ms;
}

.product:nth-child(7) {
  transition-delay: 1200ms;
}

.product:nth-child(8) {
  transition-delay: 1400ms;
}

.product:nth-child(9) {
  transition-delay: 1600ms;
}

.product:nth-child(10) {
  transition-delay: 1800ms;
}

.product:nth-child(11) {
  transition-delay: 2000ms;
}

.product:nth-child(12) {
  transition-delay: 2200ms;
}

.product.loading {
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: contentLoader;
  animation-name: contentLoader;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.product.loading .product-image {
  height: 168px;
  width: 168px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.25);
}

@media (max-width: 768px) {
  .product.loading .product-image {
    width: auto;
  }
}

.product.loading .product-text,
.product.loading .product-button {
  margin: 12px 16px;
  height: 16px;
  background: rgba(255, 255, 255, 0.25);
}

.product.loading .product-button {
  position: absolute;
  bottom: 8px;
  width: 168px;
  height: 36px;
}

@media (max-width: 768px) {
  .product.loading .product-button {
    width: auto;
  }
}

.no-results {
  text-align: center;
  max-width: 520px;
  margin: 0 auto;
}

.no-results img {
  width: 320px;
  margin: 16px 0 32px 0;
  opacity: 0.33;
}

.no-results h2 {
  margin-bottom: 16px;
  color: #666;
}

.no-results p {
  color: #999;
}

.product {
  background: #fff;
  margin: 16px;
  width: 200px;
  border-radius: 2px;
}

.product .product-image {
  overflow: hidden;
  border-radius: 2px 2px 0 0;
  max-height: 200px;
}

.product .product-image img {
  cursor: zoom-in;
  width: 100%;
  height: auto;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media (min-width: 991px) {
  .product .product-image img {
    min-height: 200px;
  }
}

.product .product-image img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.product .product-name {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.product .product-price {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 16px;
}

.product .product-price:before {
  content: "₹ ";
}

.product .product-name,
.product .product-price {
  color: #666;
  padding: 0 16px;
  text-align: center;
}

.product .product-action {
  padding: 16px;
}

.product .product-action button {
  width: 100%;
  transition: all 300ms ease-in;
}

.product .product-action button.added {
  background: #fc7710;
}

.product:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.stepper-input {
  display: flex;
  display: -webkit-flex;
  color: #666;
  max-width: 120px;
  margin: 0 auto;
}

.stepper-input .increment,
.stepper-input .decrement {
  height: 24px;
  width: 24px;
  border: 1px solid #ccc;
  text-align: center;
  box-sizing: border-box;
  border-radius: 50%;
  text-decoration: none;
  color: inherit;
  font-size: 24px;
  line-height: 22px;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.stepper-input .increment:hover,
.stepper-input .decrement:hover {
  color: #077915;
  border-color: #077915;
}

.stepper-input .increment:active,
.stepper-input .decrement:active {
  color: #fff;
  border-color: #077915;
  background: #0bc122;
}

.stepper-input .quantity {
  height: 24px;
  width: 48px;
  text-align: center;
  margin: 0 12px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

.stepper-input .quantity:focus {
  outline: none;
  border-color: #077915;
}


footer {
  color: #999;
  font-size: 14px;
  text-align: center;
  padding: 32px;
  background: #dddddd;
}

footer strong {
  color: #666;
}

footer .footer-links {
  margin-bottom: 24px;
}

footer .footer-links a {
  margin: 0 8px;
  color: #666;
}

.my-product-remove {
	color: red;
}

.mycart_section{
	background: #efeeee;
    border-radius: 2px;
}

.top-header{
	display: block;
    text-align: justify;
}

.cart-icon-holder{
	float: right;
	cursor: pointer;
	position: relative;
	border: 1px solid #f2f2f2;
	background: #f2f2f2;
    color: #4d4d4d;
	width: 130px;
}

div.panel-footer > div > a{
	margin: -23px 57px 0px 0px;
}

/*
.cart-icon-holder > span:nth-child(1) {
position: absolute; 
top: calc(100% - 36px);
left: calc(100% - 106px);
display: block; 
}

.cart-icon-holder > span:nth-child(2) {
position: absolute; 
top: calc(100% - 10px);
left: calc(100% - 106px);
display: block; 
}

.cart-icon-holder > span:nth-child(3) {
position: absolute; 
top: calc(100% - 10px);
left: calc(100% - 110px);
display: block; 
}
*/
.login-section .auth a {
    padding: 0!important;
    color: #666;
    cursor: pointer;
	font: 13px ProximaNovaA-Regular;
}

.list-inline {
    list-style: outside none none;
    margin-bottom: 0;
    margin-left: -5px;
    padding-left: 0;
}
.list-inline>li {
    vertical-align: baseline;
    line-height: 25px;
	display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.login-section .auth a:hover {
    color: #84c225;
}

.onscroll-dropdown .btn {
	color: #333;
    background: none;
    border: none;
    text-transform: uppercase;
    font-family: ProximaNovaA-Semibold;
    line-height: 1.5;
    padding-top: 50px;
	margin-top: -40px!important;
	display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
/*DROPDOWN MENU*/
 
.megamenu {
    position: static
}

.megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%
}


code {
    color: #745eb1;
    background: #fff;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem
}

.text-uppercase {
    letter-spacing: 0.08em
}

.btnsmall {
    padding: 0.225rem 0.95rem !important;
    font-size: 1rem;
    line-height: 1.0;
}



/*DROPDOWN MENU*/


